.post-img {
    height: 300px;
    overflow: hidden;
}

.post-img img {
    width: 100%;
}

.blog-post-content h1 {
    text-align: center;
}

.more-post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-post-meta {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.hd {
    cursor: pointer;
}

.author-info {
    margin: 12px 0;
}

.author-info div {
    padding: 4px 12px;
    font-family: var(--font2);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}