    @media screen and (max-width:1200px) {
        .navigation {
            flex-direction: column;
            margin-bottom: 23px!important;
        }
        .nav-left ul {
            margin: 0;
        }
        .nav-left {
            flex-direction: column;
            text-align: center;
        }
        .content {
            padding: 0;
        }
        .content-left {
            padding: 30px;
        }
        .content-right {
            display: none;
        }
        .home-article {
            flex-direction: column;
            padding: 0;
        }
        .home-article-img {
            text-align: center;
        }
        .year-box {
            font-size: 11px;
            right: 0;
            left: 0vw;
            top: 30px;
            display: flex;
        }
        .year-box input {
            margin: 0px;
        }
        .year-box div {
            margin: 0;
        }
        .max-width-1 {
            max-width: 100vw;
        }
        .max-width-2 {
            max-width: 85vw;
        }
        .nav-right {
            margin-top: 15px;
        }
        .row {
            flex-direction: column;
        }
        .form-input {
            width: 50%;
        }
        .form-box input,
        textarea {
            width: 83vw;
        }
    }